<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.appstacks.indiannaukribazaar"
    android:installLocation="auto"
    tools:ignore="GoogleAppIndexingWarning">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".data.ThisApp"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_indiannaukribazaar"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_indiannaukribazaar"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="HardcodedDebugMode">
        <activity
            android:name=".NewActivities.JobsActivities.NormalJobCvActivity"
            android:exported="false"
            android:theme="@style/noactiondisplay" />
        <activity
            android:name=".JobsPackages.InstantJobs.SuccessApplyActivity"
            android:exported="false"
            android:theme="@style/noactiondisplay" />
        <activity
            android:name=".JobsPackages.InstantJobs.SearchNApplyInJobDetailActivity"
            android:exported="true"
            android:theme="@style/noactiondisplay" />
        <activity
            android:name=".JobsPackages.InstantJobs.SearchNapplyInstantJobActivity"
            android:exported="true"
            android:theme="@style/noactiondisplay">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name=".JobsPackages.InstantJobs.InstantCompanyActivity"
            android:exported="false"
            android:theme="@style/noactiondisplay" />
        <activity
            android:name=".Activities.ActivitySplash"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".profile.location.MapsActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".profile.paymentmethods.BankingInformationActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".profile.paymentmethods.AddPaymentMethodActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".profile.hourlycharges.AddHourlyChargesActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".profile.resume.AddResmueActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".profile.appreciation.EditAppreciationActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".profile.appreciation.AddAppreciationActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".profile.Lanuages.AddCompleteLanuageActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".profile.Lanuages.SearchLanguagesActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".profile.Lanuages.AddlanguagesActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".profile.skills.AllSkillsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".profile.skills.SkillsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".profile.Education.FieldOfStudyActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".profile.Education.InstituteNameActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".profile.Education.LevelOfEducationActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".profile.Education.AddEducationActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".profile.WorkExperienceActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".profile.EditBioActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".profile.ProfileEditActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- <activity -->
        <!-- android:name=".NewActivities.EditProfileActivity" -->
        <!-- android:exported="false" -->
        <!-- android:label="@string/title_activity_edit_profile" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"> -->
        <!-- <meta-data -->
        <!-- android:name="android.app.lib_name" -->
        <!-- android:value="" /> -->
        <!-- </activity> -->
        <activity
            android:name=".profile.UserProfileActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".JobsPackages.InstantJobs.AddingInstantJobDetailsActivity"
            android:exported="true"
            android:theme="@style/noactiondisplay">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".NewActivities.JobsActivities.N_JobsDetailActivity"
            android:exported="true"
            android:theme="@style/noactiondisplay">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".profile.ViewProfileActivity"
            android:exported="true" />
        <activity
            android:name=".JobsPackages.InstantJobs.InstantJobPostActivity"
            android:exported="false"
            android:theme="@style/noactiondisplay" />
        <activity
            android:name=".NewActivities.UserJobDetailsActivity"
            android:exported="false"
            android:theme="@style/noactiondisplay" />
        <activity
            android:name=".NewActivities.JobsActivities.NormalJobsActivity"
            android:exported="false"
            android:theme="@style/noactiondisplay" />
        <activity
            android:name=".NewActivities.AddSocialAccountActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".NewActivities.LocationActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".NewActivities.SettingActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".NewActivities.JobsActivities.DetailsActivity"
            android:exported="false" />
        <activity
            android:name=".AaForChecking"
            android:exported="false"
            android:theme="@style/noactiondisplay" />
        <activity
            android:name=".NewActivities.KycPaidJobs.RazorPayActivity"
            android:exported="false"
            android:theme="@style/noactiondisplay" />
        <activity
            android:name=".NewActivities.JobsActivities.CompanyActivity"
            android:exported="false"
            android:theme="@style/noactiondisplay" />
        <activity
            android:name=".NewActivities.JobLocationActivity"
            android:exported="false"
            android:theme="@style/noactiondisplay" />
        <activity
            android:name=".NewActivities.JobsActivities.JobPosition"
            android:exported="false"
            android:theme="@style/noactiondisplay" />
        <activity
            android:name=".NewActivities.JobsActivities.AddNormalJobPostActivity"
            android:exported="false"
            android:theme="@style/noactiondisplay" />
        <activity
            android:name=".NewActivities.JobsActivities.PaidJobsActivity"
            android:exported="false"
            android:theme="@style/noactiondisplay" />
        <activity
            android:name=".NewActivities.JobsActivities.FindJobsActivity"
            android:exported="true"
            android:theme="@style/noactiondisplay" />
        <activity
            android:name=".NewActivities.JobsActivities.AddJobsActivity"
            android:exported="false"
            android:theme="@style/noactiondisplay" />
        <activity
            android:name=".NewActivities.KycPaidJobs.WelldoneActivity"
            android:exported="false"
            android:theme="@style/noactiondisplay" />
        <activity
            android:name=".NewActivities.KycPaidJobs.ScanBackActivity"
            android:exported="false"
            android:theme="@style/noactiondisplay" />
        <activity
            android:name=".NewActivities.KycPaidJobs.ScanFrontActivity"
            android:exported="false"
            android:theme="@style/noactiondisplay" />
        <activity
            android:name=".NewActivities.KycPaidJobs.DocumentVerifactionActivity"
            android:exported="false"
            android:theme="@style/noactiondisplay" />
        <activity
            android:name=".NewActivities.KycPaidJobs.PersonalInformationActivity"
            android:exported="false"
            android:theme="@style/noactiondisplay" />
        <activity
            android:name=".NewActivities.KycPaidJobs.StartProfileVerification"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".NewActivities.KycPaidJobs.StartProfileVerificationActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".NewActivities.KycPaidJobs.KycStartBrowsingActivity"
            android:exported="false" />
        <activity
            android:name=".NewActivities.JobsActivities.JobDetailsActivity"
            android:exported="false"
            android:theme="@style/noactiondisplay" />
        <activity
            android:name=".NewActivities.SpinWheelActivity"
            android:exported="false"
            android:theme="@style/noactiondisplay" />
        <activity
            android:name=".NewActivities.User_ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/noactiondisplay" />
        <activity
            android:name=".NewActivities.UserNameActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/noactiondisplay" />
        <activity
            android:name=".NewActivities.OTPActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/noactiondisplay" />
        <activity
            android:name=".NewActivities.RegistrationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewActivities.BoardingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.DisclaimerActivity"
            android:theme="@style/BaseTheme" />
        <activity
            android:name=".NewActivities.WelcomeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ActivityMain"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ActivityRegisterProfile"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.ActivityLogin"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.ActivitySearchFilter"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ActivityWebView"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".Activities.ActivityGallery"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ActivitySearch"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ActivityNewsDetails"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ActivityNotification"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ActivityDialogNotification"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dialog.NoActionBar" />
        <activity
            android:name=".Activities.ActivitySettings"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ActivityComment"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" /> <!-- admob data -->
        <!-- firebase service -->
        <service
            android:name=".fcm.FcmMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- firebase data -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/notification_channel_server" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" /> <!-- <meta-data -->
        <!-- android:name="com.google.android.gms.ads.APPLICATION_ID" -->
        <!-- android:value="@string/admob_app_id" /> -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" /> <!-- Facebook MetaData -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" /> <!-- Facebook Activity and Chrome Custom tabs -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>